@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Montserrat&display=swap');

:root {
  --primary-color: #1f2937;
  --secondary-color: #6ee7b7;
}

body{
    background-color: var(--primary-color);
     color: var(--secondary-color);
     font-family: 'Montserrat', sans-serif;
}

.container{
    width: 32%;
    margin: auto;
    margin-top: 3rem;
}

h1{
    text-align: center;
    margin-top: 2rem;
}
label,
input{
    display: block;
    margin-bottom: 0.3rem;
}

input{
    width: 100%;
    border-radius: 7px;
    padding: 8px;
}

#check-number {
    display: block;
    margin: auto;
    margin-top: 0.8rem;
    background: transparent;
    color: #6EE7B7;
    border-color: #6EE7B7;
    border-width: medium;
    padding: 8px;
    border-radius: 30px;
  }